@import "src/scss/foundations/variable.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background-color: $portfolioBackground;
  color: white;
  font-family: $portfolioMainText_font;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: white;
}

h1,h2 {
  font-family: $portfolioMainTitle_font;
}

h2 {
  font-size: $-t-l;
  max-width: fit-content;
  margin-bottom: $-sp-s;
  margin-top: $-sp-l;
}

h3 {
  font-family: $portfolioMainTitle_font;
  font-size: $-t-m;
  margin-bottom: $-sp-s;
}

li {
  list-style: none;
}

.portfolioLogo {
  font-family: $portfolioLogo_font;
}

.portfolioTextGradient {
  background: $portfolioGradientColor_font;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-family: $portfolioMainText_font;
  font-size: $-t-s;
  line-height: calc($-t-s*2);
}
